body {
    background: rgb(7, 72, 75);
}

h1 {
    text-align: center;
    color: #fff;
}

ol {
    width: 280px;
    display: block;
    margin: 15px auto;
}

ol li {
    font-size: 18px;
    margin-bottom: 5px;
}

form {
    text-align: center;
}

input[type="text"]{
    outline: none;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    width: 160px;
}

.my-checkbox {
    background-color: rgb(11, 124, 77);
    height: 15px;
    width: auto;
    margin: 0;

}

input[type="submit"]{
    font-size: 18px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(11, 124, 77);
    color: white;
    border-color: rgb(8, 91, 57);
    padding: 5px 10px;
    box-shadow: 1px 1px 4px black;
    width: 100px;
}

input[type="submit"]:hover {
    background-color: rgb(14, 151, 94);
    cursor: pointer;
    
}

.to-list {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border-color: rgb(8, 91, 57);
    font-size: 18px;
    color: #fff;
    background-color: rgb(11, 124, 77);
    padding: 5px 10px;
    box-shadow: 1px 1px 4px black;
    margin-top: 10px;
    width: 100px;
}
.to-list:hover {
    background-color: rgb(14, 151, 94);
    cursor: pointer;
}

.list-names {
    display: block;
    padding: 10px;
    margin: 15px auto;
    width: max-content;
    
    border-radius: 5px;
}

.list-names div {
    margin-top: 5px;
}

.list-names button {
    background-color: rgb(215, 78, 10);
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    box-shadow: 1px 1px 4px black;
    border-color: rgb(192, 37, 6);
    cursor: pointer;
}

.list-names button:hover {
    background-color: rgb(192, 37, 6);
}

.list-names a {
    padding-left: 10px;
    color: #fff;
    font-size: 18px;
    
}

.adult {
    text-decoration: none;
}

.no-adult {
    color: #000 !important;
    text-decoration: none;
}

.info {
    text-align: center;
    font-size: 18px;
}

.back {
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    border-color: rgb(8, 91, 57);
    font-size: 18px;
    color: #fff;
    background-color: rgb(11, 124, 77);
    padding: 5px 10px;
    box-shadow: 1px 1px 4px black;
    margin-top: 10px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-width: 2px;
    border-style: outset;
    font-size: 18px;
}

.back:hover {
    background-color: rgb(14, 151, 94);

}